body {
    font-family: 'Roboto';
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: fixed;
    bottom: 0;
    background-color: #363946;
    width: 100%;
    color: #fff;
}